.label{
    cursor: pointer;
}
.radio {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px solid #191919;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 2px;
}
.radio:hover {
    border: 2px solid #006bb7;
}

.radio:checked {
    border: 1px solid #006bb7;
    background-color: #006bb7;
}