
.default,
.red{
    background-color: deepskyblue;
    border-radius: 10px;
    color: #ccc;
    padding: 4px 5px;
    margin: 5px;
}

.default:hover,
.red:hover {
    background-color: dodgerblue;
    color: #fff;
    cursor: pointer;
}

.default:active,
.red:active {
    background-color: #191919;
}

.default:disabled,
.red:disabled {
    background-color: #4f4f4f;
}

.default:disabled:hover,
.red:disabled:hover {
    color: #ccc;
}

.red {
    background-color: #c40000;
}

.red:hover {
    background-color: #980000;
}