.wrapper {
    margin-left: 30px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}

.error {
    border-radius: 4px;
    border: 1px solid crimson;
}

.errorBlock {
    background-color: red;
    padding: 2px 5px;
    color: #fff;
    font-family: monospace;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 65px;
}
input{
    outline: none;
}

.button {
    background-color: cornflowerblue;
    padding: 3px 4px;
    opacity: 0.8;
    color: #fff;
    border-radius: 10px;
    border: none;
}

.button:hover {
    opacity: 1;
    cursor: pointer;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.button:hover:disabled {
    opacity: 0.6;
}

.counter {
    background-color: cornflowerblue;
    padding: 0 4px;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
}
.block{
    display: flex;
    flex-direction: column;
}
.blockError{
    margin-top: 5px;
    margin-left: 80px;

}
.spanError{
    color: red;
    margin: 4px;
}